sudo: required
dist: trusty

language: c

matrix:
  include:
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang

cache:
  directories:
  - node_modules
  - app/node_modules
  - $HOME/.electron
  - $HOME/.cache/fpm

addons:
  apt:
    packages:
      - libgnome-keyring-dev
      - icnsutils

before_install:
  - mkdir -p /tmp/git-lfs && curl -L https://github.com/github/git-lfs/releases/download/v1.2.0/git-lfs-$([ "$TRAVIS_OS_NAME" == "linux" ] && echo "linux" || echo "darwin")-amd64-1.2.0.tar.gz | tar -xz -C /tmp/git-lfs --strip-components 1 && /tmp/git-lfs/git-lfs pull

install:
- nvm install 6
- npm install electron-builder@next # force install next version to test electron-builder
- npm run-script install-all
- npm prune

script:
- npm run-script package:linux

branches:
  except:
    - "/^v\\d+\\.\\d+\\.\\d+$/"
