---
layout: default
release_v: "v1.3.1"
release_s: "1_3_1"
prerelease_v: "v1.4.0"
prerelease_s: "1_4_0"
---
{% capture release_notes %}{% include release_notes.md %}{% endcapture %}
{% capture prerelease_notes %}{% include prerelease_notes.md %}{% endcapture %}

<section class="bg-red-600 color-red-50 page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>WMail</h1>
        <p class="lead">The missing desktop client for Gmail & Google Inbox</p>
      </div>
    </div>
  </div>
</section>

<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <h1>Choose your flavour</h1>
            <p>You download the latest stable version of WMail or if you prefer you can test some new features by downloading the latest pre-release. <a href="https://github.com/Thomas101/wmail/releases" target="_blank">View all releases</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{ page.release_v }}</h2>
            <p><span class="label label-success">Latest Release</span></p>
            <p>
              <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.release_v }}/WMail_{{ page.release_s }}_osx.zip" class="btn btn-default">
                <span class="fa fa-apple"></span> Download OSX
              </a>
            </p>

            <p>
              <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.release_v }}/WMail_{{ page.release_s }}_windows.zip" class="btn btn-default">
                <span class="fa fa-windows"></span> Download Windows
              </a>
            </p>

            <p>
              <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.release_v }}/WMail_{{ page.release_s }}_linux32.zip" class="btn btn-default">
                <span class="fa fa-linux"></span> Download Linux 32-bit
              </a>
            </p>

            <p>
              <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.release_v }}/WMail_{{ page.release_s }}_linux64.zip" class="btn btn-default">
                <span class="fa fa-linux"></span> Download Linux 64-bit
              </a>
            </p>
            <p>
              Made with ♥ by Thomas Beverley. <a href="https://www.paypal.me/ThomasBeverley" target="_blank">Buy me a beer 🍺</a>
            </p>
            <br />
            {{ release_notes | markdownify }}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{ page.prerelease_v }}</h2>
            <p><span class="label label-danger">Latest Pre-Release</span></p>

            <p>
              <a href="https://github.com/Thomas101/wmail/wiki/Installing-Prereleases" target="_blank">Information on Installing Prereleases</a>
            </p>

            <p>
              <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_osx.dmg" class="btn btn-default">
                <span class="fa fa-apple"></span> Download for OSX
              </a>
            </p>

            <p>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-windows"></span> Download for Windows <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_windows_x64.zip">
                      <strong>64-bit</strong>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_windows_x86.zip">
                      32-bit
                    </a>
                  </li>
                </ul>
              </div>
            </p>

            <p>
              <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                  <span class="fa fa-linux"></span> Download for Linux <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_linux_x64.tar.gz">
                      <strong>64-bit tar</strong>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_linux_x86.tar.gz">
                      32-bit tar
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_linux_x64.deb">
                      <strong>64-bit deb</strong>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Thomas101/wmail/releases/download/{{ page.prerelease_v }}/WMail_{{ page.prerelease_s }}_prerelease_linux_x86.deb">
                      32-bit deb
                    </a>
                  </li>
                </ul>
              </div>
            </p>

            <p>
              Made with ♥ by Thomas Beverley. <a href="https://www.paypal.me/ThomasBeverley" target="_blank">Buy me a beer 🍺</a>
            </p>
            <br />
            {{ prerelease_notes | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
