---
layout: news
---
<section style="color: rgb(83, 88, 96);">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <img src="newsimages/wavebox_icon.svg" style="height:125px;" />
        <h1 style="font-size: 52px;">
          Ready to try Wavebox?
        </h1>
        <h3>
          Join the thousands of WMail users who have already migrated to Wavebox
        </h3>
        <br />
        <h4 style="font-size:22px; color: rgb(63, 175, 239);">
          Better Google services integration and supercharged notifications!
        </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <br />
        <img src="newsimages/05_04_17_wavebox_services.png" alt="Gmail, Google Inbox, Outlook, Office 365, Slack, Trello" class="center-block img-responsive" />
        <br />
      </div>
    </div>
    <div class="row" style="font-size:14px;">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
          <div class="col-xs-6">
            <ul class="list-unstyled" style="margin-bottom:0;">
              <li>
                <span class="fa fa-fw fa-check"></span>
                Google Docs &amp; Office editing
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                Integrations with Microsoft Services
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                Services toolbar for managing loads of accounts
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                Sleeping services &amp; accounts to save memory
              </li>
            </ul>
          </div>
          <div class="col-xs-6">
            <ul class="list-unstyled" style="margin-bottom:0;">
              <li>
                <span class="fa fa-fw fa-check"></span>
                Automatic updates on macOS &amp; Windows
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                Signed binaries for easier install &amp; added security
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                Still open-source on Github
              </li>
              <li>
                <span class="fa fa-fw fa-check"></span>
                <a style="color: rgb(63, 175, 239);" href="https://wavebox.io?s=wm" target="_blank">Find out more</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <br />
        <br />
        <p>
          <a href="https://wavebox.io/download?s=wm" target="_blank" class="btn btn-lg btn-primary" style="background-color: rgb(63, 175, 238); border-radius:0px; font-size: 40px; padding: 20px 80px; border-color:transparent;">
            14 day free trial
          </a>
        </p>
        <br />
      </div>
    </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <img src="newsimages/wavebox_icon.svg" style="height:40px; vertical-align:text-top;" />
          Introducing Wavebox - the next generation of WMail
        </h1>
        <p class="color-grey-600">5th April 2017</p>
        <p><strong>Available to download now from <a href="https://wavebox.io/download" target="_blank">Wavebox.io</a></strong></p>
        <p><strong>Read the full article on our <a href="https://blog.wavebox.io/introducing-wavebox/" target="_blank">new Blog</a></strong></p>
        <p>
          I'm super excited to finally share this with all the pre-release users!
          We've been hard at work over the past few weeks getting something
          really awesome ready and released. That something is the next generation
          of WMail, we've called it <a href="https://wavebox.io" target="_blank">Wavebox</a>.
        </p>
        <p>
          WMail has grown from a 3-day vacation project into something too big for me to
          maintain in my free time. That said, I'm still focused on evolving it into something
          that works even better for myself and everyone who uses it. To move WMail forwards,
          I'm now very proud and excited to announce that it is now part of Bookry,
          an amazing company that I've been part of for the last 5 years.
        </p>
        <p>
          Myself and the team at Bookry have been busy adding more features and improving Wavebox
          which builds on all the great features of WMail and adds so many more! The big
          one right out of the box is support for more than just Gmail &amp; Inbox...
        </p>
        <img src="newsimages/05_04_17_wavebox_services.png" alt="Gmail, Google Inbox, Outlook, Office 365, Slack, Trello" class="center-block img-responsive" />
        <p>
          Thats right, as well as Google Inbox &amp; Gmail, Wavebox brings Outlook,
          Office 365, Slack, Trello &amp; Any Web link to the family. Meaning you have more
          online tools right at your fingertips.
        </p>
        <p>
          That's not all though. Wavebox is jam-packed with more features! Here's a brief
          overview of some of the other new things that that come in Wavebox...
          <ul>
            <li>Better Google Services integration</li>
            <li>Integrations with Microsoft Services</li>
            <li>Google Docs &amp; Office editing</li>
            <li>Services toolbar for those of you with lots of accounts</li>
            <li>Sleeping services &amp; accounts to save you oodles of memory. <a href="https://blog.wavebox.io/put-wavebox-sleeping-tabs-to-the-test/" target="_blank">Find out more</a>.</li>
            <li>Supercharged Google Notifications</li>
            <li>Automatic updates on macOS &amp; Windows (linux coming soon...)</li>
            <li>Signed Binaries for easier install &amp; added security</li>
            <li>Still open-source on <a href="https://github.com/wavebox/waveboxapp" target="_blank">Github</a>.</li>
          </ul>
        </p>
        <p>
          If you want to find out more, we have an excellent Blog post
          <a href="https://blog.wavebox.io/introducing-wavebox/" target="_blank">introducing all the new features in Wavebox</a>.
          Once you're ready to get started and hit the road you'll need to head over to our new Website...
        </p>
        <p>
          <a href="https://wavebox.io" target="_blank" class="btn btn-default">
            <span class="fa fa-fw fa-home"></span>Wavebox Website
          </a>
          <a href="https://wavebox.io/download" target="_blank" class="btn btn-default">
            <span class="fa fa-fw fa-download"></span>Download Wavebox
          </a>
          <a href="https://blog.wavebox.io" target="_blank" class="btn btn-default">
            <span class="fa fa-fw fa-rss"></span>Wavebox Blog
          </a>
          <a href="https://github.com/wavebox/waveboxapp" target="_blank" class="btn btn-default">
            <span class="fa fa-fw fa-github"></span>Wavebox on Github
          </a>
        </p>
        <p>
          We're excited to hear what you think about Wavebox and we can't wait to see
          where Wavebox goes in the future. If you have any feedback we're now on
          <a href="https://twitter.com/waveboxio" target="_blank">Twitter <strong>@waveboxio</strong></a>
        </p>
        <p>
          When you download Wavebox you'll have unlimited access to everything it has to
          offer for the first 14 days. Afterwards you can continue using Wavebox basic
          for free or you can upgrade to Pro at any time. Wavebox also comes with a generous
          affiliate scheme so you can get Wavebox Pro for free &amp; much more! Find out more
          about the <a href="https://blog.wavebox.io/wavebox-affiliates/" target="_blank">Wavebox affiliate scheme</a> and started right away!
        </p>
      </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <span class="color-red-600 fa fa-fw fa-rocket"></span> Version 2.3.0 Release and 2.3.1 Prerelease
        </h1>
        <p class="color-grey-600">1st March 2017</p>
        <p><strong>Available from the <a href="https://thomas101.github.io/wmail/download" target="_blank">downloads page</a></strong></p>
        <p>
          After a few bug reports over the weekend there are a few fixes to the latest version of WMail.
          This come in the form of the 2.3.0 and 2.3.1 releases. Thanks to everyone who reported issues!
          Here are the release notes...
        </p>
        <br />
        {% capture prerelease_notes_2_3_1 %}{% include prerelease_notes_2_3_1.md %}{% endcapture %}
        {{ prerelease_notes_2_3_1 | markdownify }}
      </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <span class="color-red-600 fa fa-fw fa-newspaper-o"></span> Welcome to WMail News
        </h1>
        <p class="color-grey-600">24th February 2017</p>
        <img src="newsimages/24_02_17_wmail_wave.png" class="img-responsive center-block" style="max-height: 150px; margin-top:10px; margin-bottom:10px;" />
        <p>
          <span class="color-red-600">Hello Prerelease tester!</span> Welcome to the WMail
          news feed! You can now stay up to date with all the updates in the latest releases
          and find out about all the awesome stuff that's making its way out of WMail HQ!
        </p>
        <p>
          You've obviously upgraded to latest and greatest release to be seeing this
          which includes some awesome features and fixes. You can find out exactly
          what's changed in the Release news article listed below
        </p>
        <p>
          <em>
            P.S. stay tuned for some sneak peaks about what's on the horizon
            over the coming weeks...
          </em>
        </p>
        <p class="color-red-600">
          <strong>
            P.P.S. thanks for being awesome and testing WMail! <span class="fa fa-fw fa-thumbs-up"></span>
          </strong>
        </p>
      </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <span class="color-red-600 fa fa-fw fa-rocket"></span> Version 2.2.1 Prerelease
        </h1>
        <p class="color-grey-600">24th February 2017</p>
        <p><strong>Available from the <a href="https://thomas101.github.io/wmail/download" target="_blank">downloads page</a></strong></p>
        {% capture prerelease_notes_2_2_1 %}{% include prerelease_notes_2_2_1.md %}{% endcapture %}
        {{ prerelease_notes_2_2_1 | markdownify }}
      </div>
    </div>
  </div>
  <hr />
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>
          <span class="color-red-600 fa fa-fw fa-rocket"></span> Version 2.2.0 Release
        </h1>
        <p class="color-grey-600">24th February 2017</p>
        <p><strong>Available from the <a href="https://thomas101.github.io/wmail/download" target="_blank">downloads page</a></strong></p>
        {% capture release_notes_2_2_0 %}{% include release_notes_2_2_0.md %}{% endcapture %}
        {{ release_notes_2_2_0 | markdownify }}
      </div>
    </div>
  </div>
  <hr />
</section>
