<footer class="site-footer bg-red-600 color-red-50" style="padding-top:15px; padding-bottom:15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Made with ♥ by Thomas Beverley</p>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/Thomas101/wmail" target="_blank" class="color-red-50">
              <span class="fa fa-github"></span> WMail on Github
            </a>
          </li>
          <li>
            <a href="https://twitter.com/thomas_101" target="_blank" class="color-red-50">
              <span class="fa fa-twitter"></span> @thomas_101
            </a>
          </li>
          <li>
            <a href="https://github.com/Thomas101/wmail/issues" target="_blank" class="color-red-50">
              <span class="fa fa-bug"></span> Bugs &amp; Issues
            </a>
          </li>
          <!-- If you found the link to my contact form well done! You must really want to contact me :). -->
          <!--<li>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfbuoJlMKSxHwtJwYY6ZR0KL2dvWfyx5AODqHMEgWVO2wDrGw/viewform" target="_blank" class="color-red-50">
              <span class="fa fa-bullhorn"></span> Contact
            </a>
          </li>-->
        </ul>
        <ul class="list-inline">
          <li>
            <a href="privacy" class="color-red-50">Privacy</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
