<footer class="site-footer bg-red-600 color-red-50" style="padding-top:15px; padding-bottom:15px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>Made with ♥ by Thomas Beverley</p>
        <ul class="list-inline">
          <li>
            <a href="https://github.com/Thomas101/Wmail" target="_blank" class="color-red-50">
              <span class="fa fa-github"></span> Wmail on Github
            </a>
          </li>
          <li>
            <a href="https://twitter.com/thomas_101" target="_blank" class="color-red-50">
              <span class="fa fa-twitter"></span> @thomas_101
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
