<header class="site-header">

  <nav id="page-navbar" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#page-navbar-collapse" aria-expanded="false">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Wmail</a>
      </div>

      <div class="collapse navbar-collapse" id="page-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="download">
              <span class="fa fa-download"></span> Download
            </a>
          </li>
          <li>
            <a href="https://github.com/Thomas101/Wmail">
              <span class="fa fa-github"></span> Github
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>