#app {
  .master, .detail {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    &.master {
      width: 70px;
      right: auto;
      background-color: rgb(33, 38, 41);
    }

    &.detail {
      left: 70px;
    }
  }

  .mailboxes {
  	position: absolute;
  	top: 0px;
  	bottom: 0px;
  	left: 0px;
  	right: 0px;
  }
}