html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  overflow: hidden;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

* {
   box-sizing: border-box;
}