.add-mailbox-control {
	@ITEM_SIZE: 50px;

	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -@ITEM_SIZE /2;
	width: @ITEM_SIZE;
	height: @ITEM_SIZE;
	cursor: pointer;;
	line-height: 40px;
	border-radius: 50%;
	color: rgb(119, 122, 123);
	border: 2px solid rgb(119, 122, 123);
	font-size: 25px;
	vertical-align: middle;
	text-align:center;

	&:hover {
		color: #CCC;
		border-color: #CCC;
	}

	&, * {
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		user-select: none;
	}
}