<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <div id="wavebox" class="modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <a href="https://wavebox.io">
              <img src="images/wavebox_icon.svg" alt="Wavebox Icon" style="height: 100px;" class="center-block" />
            </a>
            <h1>Introducing Wavebox</h1>
            <p class="lead">
              WMail is now Wavebox! Wavebox is built direcly on Chromium and is
              the clever new home for cloud apps on macOS, Linux & Windows bringing
              Gmail, Outlook, O365, Trello, Slack & over 1000 more apps into a
              configurable client.
            </p>
          </div>
          <div class="modal-footer text-center">
            <div class="hidden-xs hidden-sm">
              <a href="https://wavebox.io" class="btn btn-lg btn-primary">
                Visit Wavebox.io
              </a>
            </div>
            <div class="hidden-md hidden-lg">
              <a href="https://wavebox.io" class="btn btn-primary">
                Visit Wavebox.io
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $('#wavebox').modal('show')
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72351969-2', 'auto');
      ga('send', 'pageview');

    </script>

  </body>

</html>
